 <div class="footer">Copyright &copy {{ site.time | date: '%Y' }} </div>
</div><!--/.page-container-->
	<!-- script references -->
		<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script> -->
		<!--<script src="js/Jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script> -->
		<script src="js/Jquery.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>
