	<!-- /#page-wrapper -->
</div>
<!-- /#wrapper -->

 <!-- jQuery -->
<script src="{{site.baseurl}}/assets/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{site.baseurl}}/assets/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="{{site.baseurl}}/assets/metisMenu/dist/metisMenu.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="{{site.baseurl}}/assets/dist/js/sb-admin-2.js"></script>
</body>
</html>
