<ul id="side-menu" class="nav in">
	<li>
		<a href="{{site.baseurl}}/index">Home</a>
	</li>
	<li>
		<a href="{{site.baseurl}}/page1">Link1</a>
	</li>
	<li>
		<a href="{{site.baseurl}}/page2">Link2</a>
	</li>
	<li>
		<a href="{{site.baseurl}}/page3">Link3</a>
	</li>
	<li class="">
		<a href="#">Twitter Swiss Army<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
			<li>
				<a href="{{site.baseurl}}/tsak/">Swiss home</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/tsak/setup">Setup</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/tsak/commands">TSAK Commands</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/tsak/quickstart">Quick Start</a>
			</li>
			<li>
				<a href="{{site.baseurl}}/tsak/example-tutorial">Example Tutorials</a>
			</li>
		</ul>
		<!-- /.nav-second-level -->
	</li>
</ul>