<ul class="nav">
	<li class="active"><a href="index.html">Home</a></li>
	<li><a href="page1.html">Link 1</a></li>
	<li><a href="page2.html">Link 2</a></li>
	<li><a href="page3.html">Link 3</a></li>   
    <li><a href="swiss-home.html">Twitter Swiss Army</a>
		<ul class="nav sub-menu">
			<li><a href="setup.html">Setup</a></li>
			<li><a href="commands.html">TSAK Commands</a></li>
			<li><a href="quickstart.html">Quick Start</a></li>   
			<li><a href="example-tutorial.html">Example Tutorials</a></li>   	
		</ul>
	</li>   	
</ul>
