<ul id="side-menu" class="nav in">
	<li>
		<a href="index.html">Home</a>
	</li>
	<li>
		<a href="page1">Link1</a>
	</li>
	<li>
		<a href="page2">Link2</a>
	</li>
	<li>
		<a href="page3">Link3</a>
	</li>
	<li class="">
		<a href="#">Twitter Swiss Army<span class="fa arrow"></span></a>
		<ul class="nav nav-second-level collapse" aria-expanded="false" style="height: 0px;">
			<li>
				<a href="swiss-home">Swiss home</a>
			</li>
			<li>
				<a href="setup">Setup</a>
			</li>
			<li>
				<a href="commands">TSAK Commands</a>
			</li>
			<li>
				<a href="quickstart">Quick Start</a>
			</li>
			<li>
				<a href="example-tutorial">Example Tutorials</a>
			</li>
		</ul>
		<!-- /.nav-second-level -->
	</li>
</ul>